on:
  workflow_dispatch:
  push:
    branches: main

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4 

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        
      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: make sure polars is installed
        run: uv add polars
      - name: add jupyter via uv 
        run: |
          uv add jupyter jupyter-client ipykernel
          uv run python -m jupyter --version

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.5.1'
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libcurl4-openssl-dev \
            libssl-dev \
            libxml2-dev \
            libpng-dev \
            libjpeg-dev \
            libgdal-dev \
            libudunits2-dev \
            libproj-dev \
            libgeos-dev \
            libharfbuzz-dev \
            libfribidi-dev \
            libfreetype6-dev \
            libfontconfig1-dev \
            libmagick++-dev


      - name: Install R Dependencies
        uses: r-lib/actions/setup-renv@v2
        with:
          cache-version: 1
      - name: Configure Python for reticulate
        run: |
          VENV_PYTHON=$(realpath .venv/bin/python)
          echo "QUARTO_PYTHON=$VENV_PYTHON" >> $GITHUB_ENV
          echo "RETICULATE_PYTHON=$VENV_PYTHON" >> $GITHUB_ENV
          $VENV_PYTHON -c "import polars; print(f'Polars: {polars.__version__}')"
      - name: Configure reticulate
        run: |
          Rscript -e "install.packages('reticulate', repos='https://cloud.r-project.org')"
          VENV_PYTHON=$(realpath .venv/bin/python)
          Rscript -e "reticulate::use_python('$VENV_PYTHON', required = TRUE)"
  


      - name: Render and Publish
        run: |
          export QUARTO_PYTHON="${{ env.QUARTO_PYTHON }}"
          export RETICULATE_PYTHON="${{ env.RETICULATE_PYTHON }}"
          quarto publish gh-pages --no-prompt --no-browser
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}